/* body {
    background-image: linear-gradient(rgb(109, 79, 122), rgb(124, 126, 226));
} */
.mybg-color{
    background-image: linear-gradient(rgb(87, 152, 164), rgb(84, 85, 125));
    background-attachment: fixed;
    background-position: center;
}
.wrapper {
    min-width: 100px;
    min-height: 100%;
    background-color: beige;
    border: 1px solid lightgray;
    border-radius: 5px;
}
select#pari-dispari {
    max-width: 200px;
}
span {
    display: block;
    width: 400px;
    border-radius: 10px;
    padding: 10px;
}